* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #5d636b; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

img {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}


h5 {
	color: #32373e;
	font: 600 1.25rem/1.75rem "Poppins", sans-serif;
}

a {
	color: #5d636b;
	text-decoration: none;
}

a:hover {
	text-decoration-line: none;
}


/* Fade Animation For Image Lightbox And Morphtext - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image lightbox and morphtext - magnific popup */


/**********************/
/*     Principal     */
/**********************/
.cards-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 7.5rem;
	padding-bottom: 2.5rem;
	background-size: cover;
	text-align: center;
}

.cards-1 .card {
	max-width: 330px;
	margin-right: auto;
	margin-bottom: 5rem;
	margin-left: auto;
	border: 0;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 0.5rem 2rem rgba(3, 19, 23, 0.250);
}

/* Hover Animation */
.cards-1 .card-image {
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.cards-1 .card-image img {
	margin: 0;
	transition: all 0.3s;
}

.cards-1 .card-image:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.cards-1 .card-body {
	padding: 1.75rem 2rem;
}

.cards-1 .card-title {
	margin-bottom: 0.5rem;
}

.cards-1 p {
	margin-bottom: 0;
}






/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {
	.cards-1 {
		padding-top: 7.5rem;
		padding-bottom: 2.5rem;
		background-size: cover;
		text-align: center;
	}
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {

	/* Principal */
	.cards-1 .card {
		display: inline-block;
		max-width: 302px;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 0.375rem;
		margin-left: 0.375rem;
	}
	/* end of principal */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {
	/* Principal */
	.cards-1 .card {
		max-width: 330px;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 3.375rem;
		margin-left: 3.375rem;
	}
	/* end of principal */	
}
/* end of min-width 1200px */




/*************************/
.form-container {
position: absolute;
left: 0;
right: 0;
top: 50%;
transform: translateY(-50%);
-ms-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);
}
/*************************/


/*************************/

.breadcrumb {
	align-items: center;
    display: flex;
	justify-content: center;
	align-items: center;
}

.breadcrumb__separator {
	margin: 0 8px;
}


/*************************/



